*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}

.container{
    display: grid;
    /* Not Right way of Doint it by using pixel unit */
    /* grid-template-columns: 200px 200px; */
    /* grid-template-rows: 200px 200px; */

    /* Right way of doing it using Fraction */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    /* border: 1px solid red; */
    background-color: #aa6969;
    text-align: center;
    gap: 9px;
    padding: 10px;
    height: 400px;
    width: 400px;
}
.box{
    text-align: center;
    /* align-items: center; */
}
.box:nth-of-type(1){
    background-color: rgb(121, 6, 6);
}

.box:nth-of-type(2){
    background-color: rgb(187, 177, 38);
}

.box:nth-of-type(3){
    background-color: rgb(156, 33, 33);
}

.box:nth-of-type(4){
    background-color: green;
}

.container .box h2{
    /* margin: auto auto; */
}
